* {
	margin: 0;
	padding: 0;
}

body {
	background: linear-gradient(100deg, #37b9e9, #1cbcb3);
}

.heading-container {
	display: block;
	font-family: 'Amatic SC', cursive;
	text-align: center;
	width: 100%;
	padding: 10px;
	color: #fff;
	font-weight: 700;
	font-size: 32px;
}	

.btn-container {
	display: block;
	width: 200px;
	background: transparent;
	/*position: absolute;*/
	margin: 15% auto 50% auto;
}

.btn-container  button {
	text-decoration: none;
	font-family: 'Armata', sans-serif;
	color: #cab;
	width: 150px;
	display: block;
	font-size: 24px;
	background: linear-gradient(#456789, #89abcd);
	border: 0;
	margin: 10px;
	box-shadow: 0 0 10px #89d9e9;
	opacity: 0.9;
}

@media screen and (max-width: 500px) {
	#heading-container {
		display: block;
		color: #fff;

	}
}